.cardItem{
    display: flex;
    flex-direction: column;
    border: solid;
    margin:30px;
    backdrop-filter: contrast(0.1)
}

.detailItem{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    
}