label{
    color:aliceblue;
    margin-right: 14px;
    margin-left: 17px;
}

h3{
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.formulario{
    display: flex;
    justify-content: center;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

p{
    color:red;
    font-weight: 700;
    backdrop-filter: contrast(0.1)
}