.cardItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detailItem{
    display: flex;
    flex-direction: row;
}

.itemName{
    color: aqua;
}

.itemImg{
    width: 200px;
}

.itemPrecio{
    color: red;
    font-style: italic;
    font-size: 20px;
}

.btnItem{
    border-color: gray;
    border-style: groove;
    color: black;
    background-color:darkgoldenrod;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    margin: 0px;
    width: 90px;
}